@import './components/style';

.expertiseDescription {
  h3 {
    font-size: 2.8rem;
    padding-bottom: 4rem;

    @include webkitGradientText;
  }

  .care {
    a {
      color: $lightBlue;
    
      &:hover,
      &:focus {
        text-decoration: underline;
        text-decoration-color: $lightBlue;
        -webkit-text-decoration-color: $lightBlue;
      }
    }
  }
}