.highlight {
  background-image: linear-gradient(to right, #2472b8 0%, $lightBlue 100%),
    linear-gradient(to right, #2472b8 0%, #00aadd 100%);
  background-repeat: no-repeat;
  background-position: 0 0, 0 100%;
  padding: 26px 0;

  p,
  button,
  img {
    align-self: center;
  }
  p {
    font-size: 2.4rem;
    color: white;
    font-weight: 600;
  }

  .info {
    margin-right: 35px;
    img {
      margin-right: 35px;
    }
  }

  @include max-lg {
    .info {
      margin: 20px 0;
    }
  }

  @media (max-width: 780px) {
    .info {
      margin-right: 0;
      p {
        text-align: center;
      }
      img {
        margin-right: 15px;
      }
    }
  }

  @media (max-width: 760px) {
    .info {
      justify-content: center;
      img {
        margin-right: 0;
      }
    }
  }

  @media (max-width: 703px) {
    .info {
      img {
        margin-bottom: 15px;
      }
    }
  }
}
  